<!-- <p>Value of a: {{a}}</p>
<p>Value of a: {{b}}</p>

<h2>a+b = {{ a+b }}</h2>

<input type="text" value="{{ message }}" disabled="{{isDisabled}}"/>
<br/><br/>
<input type="text" value="{{ message }}" [disabled]="isDisabled"/>

<button type="submit" (click)="onButtonClick('welcome')">Click Me</button>

<button (click)="onIncrementClick()">++</button>
<h1>{{ result }}</h1>
<button (click)="onDecrementClick()">--</button>

<p (drag)="onIncrementClick()">hey: {{ result }}</p>

<input type="text" (keydown.shift.y)="isShift()"/>

<input type="text" [(ngModel)]="userInput"/>
<br/><br/>
<button type="submit" (click)="onClick()">Submit</button>
<br/>
<h1>{{ dynamicVal }}</h1> -->

<!-- <h1>Quantity: </h1>
<input type="number" [(ngModel)]="quantity"/>

<p>Price per item: <b>100</b> </p>

<h1>Total Price: </h1>
<h2>{{ totalPrice }}</h2> -->

<!-- <button (click)="onClick()">Click Me</button>
<br/><br/>
<p *ngIf="buttonClicked">{{ message }}</p> -->

<!-- <div *ngFor="let item of fullStack; index as i">
    <ul>
        <li>{{i+1}}: {{ item.title }}</li>
    </ul>
</div> -->

<!-- <div [ngSwitch]="age" style="text-align: center;">
    <p *ngSwitchCase="10">The person's age is 10</p>
    <p *ngSwitchCase="20">The person's age is 20</p>
    <p *ngSwitchCase="30">The person's age is 30</p>
    <p *ngSwitchDefault>Person's age is {{ age }}</p>
</div> -->

<!-- <div>

    <h2>Role Selection</h2>
    <select [(ngModel)]="employeeRole">
        <option value="">Select Role</option>
        <option value="Admin">Admin</option>
        <option value="HR">HR</option>
        <option value="IT Support">IT Support</option>
        <option value="Dev">Dev</option>
    </select>

    @switch (employeeRole) {
        @case ('Admin') {
            <h1>List of Employees</h1>
            <h3>Selected Role: Admin</h3>
            <table>
                <thead>
                    <tr>
                        <td>ID</td>
                        <td>Name</td>
                        <td>Role</td>
                    </tr>
                </thead>
                <tbody>
                    @for(emp of employees(); track $index){
                        @if(emp.role==="Admin"){
                            <tr>
                                <td>{{ emp.id }}</td>
                                <td>{{ emp.name }}</td>
                                <td>{{ emp.role }}</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        }
        @case('HR'){
            <h1>List of Employees</h1>
            <h3>Selected Role: Admin</h3>
            <table>
                <thead>
                    <tr>
                        <td>ID</td>
                        <td>Name</td>
                        <td>Role</td>
                    </tr>
                </thead>
                <tbody>
                    @for(emp of employees(); track $index){
                        @if(emp.role==='HR'){
                            <tr>
                            <td>{{ emp.id }}</td>
                            <td>{{ emp.name }}</td>
                            <td>{{ emp.role }}</td>
                        </tr>
                        }
                    }
                </tbody>
            </table>
        }
        @case('IT Support'){
            <h1>List of Employees</h1>
            <h3>Selected Role: Support</h3>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Role</th>
                    </tr>
                </thead>
                <tbody>
                    @for(emp of employees(); track $index){
                        @if(emp.role==='IT Support'){
                         <tr>
                            <td>{{ emp.id }}</td>
                            <td>{{ emp.name }}</td>
                            <td>{{ emp.role }}</td>
                        </tr>
                        }
                    }
                </tbody>
            </table>
        }
        @case('Dev'){
            <h1>List of Employees</h1>
            <h3>Selected Role: Support</h3>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Role</th>
                    </tr>
                </thead>
                <tbody>
                    @for(emp of employees(); track $index){
                        @if(emp.role==='Dev'){
                         <tr>
                            <td>{{ emp.id }}</td>
                            <td>{{ emp.name }}</td>
                            <td>{{ emp.role }}</td>
                        </tr>
                        }
                    }
                </tbody>
            </table>
        }
        @default {
            <h3>Select a role</h3>
        }
    }
</div> -->

<!-- <p [ngClass]="'updateStyles italicText'">This is an example of ngClass</p> -->
 <!-- <button (click)="toggleMode()">Toggle Mode</button>

 <div class="box" [ngClass]="colorMode">
    <h1>Light Mode</h1>
    Lorem ipsum dolor sit amet consectetur adipiscing elit. Adipiscing elit quisque faucibus ex sapien vitae pellentesque. Vitae pellentesque sem placerat in id cursus mi. Cursus mi pretium tellus duis convallis tempus leo. Tempus leo eu aenean sed diam urna tempor. Urna tempor pulvinar vivamus fringilla lacus nec metus.
 </div>

 <div class="box" [ngClass]="colorMode">
    <h1>Dark Mode</h1>
    Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos.
</div> -->

<!-- <div style="text-align: center;">
    <p [ngStyle]="{ color:'maroon', 'font-size':'25px'}">Example of ngStyle Directive</p>
</div> -->

<!-- <div class="form-group" *ngIf="!formIsSubmitted">
    <form>
    <h1>Submit form</h1>
    <div class="form-group">
        <label for="">Name</label>
        <input type="text" name="name" [(ngModel)]="nm" [ngStyle]="{'background-color':nm?'lightgreen':'red'}" required/>
    </div>
    <div class="form-group">
        <label for="">Email</label>
        <input type="email" name="email" [(ngModel)]="em" [ngStyle]="{'background-color':em?'lightgreen':'red'}" (input)="checkValidation(em)" required/>
    </div>

    <button type="submit" (click)="showMessage()">Submit</button>
</form>
</div>
<p *ngIf="formIsSubmitted">Thanks for submitting the form!</p> -->

<!-- <h1>Normal Division</h1>
<div>
    <p>Item 1</p>
    <p>Item 2</p>
    <p>Item 3</p>
    <p>Item 4</p>
</div>

<hr/>
<h1>ng-container</h1>
<ng-container>
    <p>Item 1</p>
    <p>Item 2</p>
    <p>Item 3</p>
    <p>Item 4</p>
</ng-container> -->

<div class="form-group">
    <label for="name">Full Name</label>
    <input type="text" [(ngModel)]="name" required>

    <ng-container *ngIf="name!==''; else notValid"></ng-container>
    <ng-template #notValid>
        <h3>Please enter your name</h3>
    </ng-template>
</div>