/* You can add global styles to this file, and also import other style files */
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    padding: 20px;
    background-color: #f7f7f7;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.lightMode{
    background-color: white;
    color: black;
}

.darkMode{
    background-color: black;
    color:white;
}

.box{
    padding:30px;
    border-radius: 9px;
    transition: all 0.1s ease-in;
    margin-bottom: 15px;
}

button{
    background-color: rgb(81,89,90);
    position: relative;
    top:-6px;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    transition:background-color 0.3s ease;
}

button:hover{
    background-color: #262525;
}